<launch>
  <node name="turtlesim_extended" pkg="turtlesim" type="turtlesim_node" output="screen" respawn="false" />
  <node pkg="rosservice" type="rosservice" name="clear_bg" args="call --wait /kill 'turtle1'" /> 

  <node pkg="rosservice" type="rosservice" name="spawn1" args="call --wait /spawn 5.5 7.5 0.0 'base_footprint'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Rover_TF" args= "base_footprint" />

  <node pkg="rosservice" type="rosservice" name="spawn2" args="call --wait /spawn 5. 3.3 1.57079 'cube001'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube1_tf" args= "cube001" />

  <node pkg="rosservice" type="rosservice" name="spawn3" args="call --wait /spawn 4.38 1.70 1.57079 'cube007'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube7_tf" args= "cube007" />
  
  <node pkg="rosservice" type="rosservice" name="spawn4" args="call --wait /spawn 2.19 3.77 4.7123 'cube004'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube4_tf" args= "cube004" />
  
  <node pkg="rosservice" type="rosservice" name="spawn5" args="call --wait /spawn 6.24 4.82 1.57079 'cube003'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube3_tf" args= "cube003" />
  
  <node pkg="rosservice" type="rosservice" name="spawn6" args="call --wait /spawn 4.38 4.65 4.7123 'cube006'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube6_tf" args= "cube006" />
  
  <node pkg="rosservice" type="rosservice" name="spawn7" args="call --wait /spawn 9.06 6.57 1.57079 'cube005'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube5_tf" args= "cube005" />
  
  <node pkg="rosservice" type="rosservice" name="spawn8" args="call --wait /spawn 6.40 3.44 4.7123 'cube002'" />
  <node pkg="turtle_tf" type="turtle_tf_broadcaster" name="Cube2_tf" args= "cube002" />

</launch>

