<launch>
	<node name="aruco_analyzer" pkg="aruco_analyzer" type="aruco_detection_node" output="screen" respawn="false" clear_params="true"> 
		<rosparam command="load" file="$(find mission_control)/param/camera/config.yaml" param="config"/>
		<param name="transport_hint" value="/color/image_raw" />
		<param name="camera_ns" value="/sensors" />
	</node>
</launch>
