<launch>
  <!-- Launch file for a standard bear scenario starting
  the rtabmap node for SLAM and the move_base node for navigation

<arg name = "rgb_topic"              value = "/camFront/rgb/image_raw" />
<arg name = "depth_registered_topic" value = "/camFront/depth/image_raw" />
<arg name = "camera_info_topic"      value = "/camFront/rgb/camera_info" />
   -->

<arg name = "rgb_topic"              value = "/sensors/camFront/color/image_raw" />
<arg name = "depth_registered_topic" value = "/sensors/camFront/aligned_depth_to_color/image_raw" />
<arg name = "camera_info_topic"      value = "/sensors/camFront/color/camera_info" />

<include file="$(find rtabmap_ros)/launch/rtab_nav.launch">
    <arg name = "launch_tf"              value = 'False' />>
    <arg name = "footprint_frame"        value = "base_footprint" />
    <arg name = "output_frame"           value = "base_footprint" />
    <arg name = "topic_pointcloud"       value = "/merge_clouds/points" />
    <arg name = "launch_rtab"            value = "True" />
    <arg name = "frame_id"               value = "base_footprint" />
    <arg name = "rtabmap_args"           value = "--delete_db_on_start" />
    <arg name = "rgb_topic"              value = "$(arg rgb_topic)" />
    <arg name = "depth_registered_topic" value = "$(arg depth_registered_topic)" />
    <arg name = "camera_info_topic"      value = "$(arg camera_info_topic)" />
    <arg name = "compressed"             value = "false"/>
    <arg name = "odom_topic"             value = "odom" />
    <arg name = "subscribe_scan"         value = "false" />
    <arg name = "rtabmapviz"             value = "false" />
    <arg name = "cmd_topic"              value = "cmd_vel"/>
    <arg name = "cfg"                    value = "$(find mission_control)/param/rover/rtab_bear.ini"/>
  </include>
</launch>
